*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #635854;
    border-bottom: 4px solid #3596F5;
    padding: 12px;
}
.navbar{
    max-width: 1200px;
    margin: auto;
    display: flex;/* поствить все по порядку */
    justify-content: space-between; /*прижать к краям */
    align-items: center; /*выравнить по центру*/
}
.navbar1{
    max-width: 1200px;
    margin: auto;
}
.navbar-meny{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    text-align: center;
}
.navbar-item{
    margin: 0 40px;
}
.navbar-link{
    text-decoration: none; 
    color: #fff;
}
.navbar-contaxt{
    text-align: center;
}
.navbar-text{
    display: flex;
    color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}
.navbar-phon{
    font-weight: bold;
    font-style: 17px;
    line-height: 20px;
    text-decoration: none; 
    color: #fff;
}
.main{
    max-width: 1200px;
    margin: auto;
    padding-top: 54px; 
    display: flex;
    padding-bottom: 100px;
}
.home-image path{
opacity: 0;
cursor: pointer;
}
.home-image path:hover{
    opacity: 1;
}
.main-info{
    margin: 0;
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.contor-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contor-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.contor-down{
    transform: rotateX(180deg);
}
.main-title{
    font-size: 37px;
    line-height: 37px;
    color: #635854;
}
.contor{
    color: #635854;
    font-size: 125px;
    margin: 10px;
}
.button-primeri{
    background: #3596F5;
    border-radius: 6px;
    color: #fff;
    border: none;
    padding: 16px 36px;
    cursor: pointer;
}
.footer{
    border-top: 4px solid #3596F5;
    background-color: #D7D7D7;
    
}
.footer-naw{
    display: flex;
    align-items: center;
}
.footer-button{
    margin-left: 35px;
}
.footer-info{
    padding-top: 50px;
    padding-bottom: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
}
.footer-text{
    display: block;
    color: #635854;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}
.footer-phone{
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
    color: #635854;
}
path.current-floor{
    opacity: 1;
}
.footer-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
}
.footer-item{
    margin-left: 20px;
    margin-right: 20px;
}
.navbar-a{
    text-decoration: none;
    color:  #635854;
    font-size: 16px;
    line-height: 19px;
}
.modal{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s ;
}
.is-open{
    opacity: 1;
    transform: scale(1);
}
.modal-dialog{
    position: relative;
    max-width: 1000px;
    min-height: 565px;
    background-color: #fff;
    flex-grow:1 ;
    display: flex;
}
.modal-image{
    background-color: #EBEBEB;
    width: 60%;
    text-align: center;
    padding: 50px;
}
.modal-title{
    font-weight: normal;
font-size: 24px;
line-height: 29px;
margin-top: 0;
margin-bottom: 25px;
}
.modal-info{
    padding: 50px 46px;
    width: 40%;
}
.flat-list{
    padding: 0;
    list-style: none;
    margin-top: 55px;
}
.flat-item{
    margin-bottom: 10px;
 }

.flat-link{
    text-decoration: none;
    color: #635854;
    font-size: 16px;
line-height: 19px;
}
.flat-link:hover{
    color: #3596F5;
    text-decoration: underline;
}
.modal-alert{
    font-style: italic;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #635854;
margin-top: 56px;
}
.modal-close-button{
    position: absolute;
    top: 38px;
    right: 27px;
    cursor: pointer;
    border: none;
    background-color: #fff;
}
